html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black;
  font-family: 'Bungee', cursive;
  color: white;
  text-align: center;
}

#game {
  display: none;
  height: 100%;
}

#game table {
  height: 100%;
  width: 100%;
}

table, td {
  border: 1px solid white;
}

tr {
  height: 5%;
}

//.cyan {
//  background-color: cyan;
//}
//
//.blue {
//  background-color: blue;
//}
//
//.orange {
//  background-color: orange;
//}
//
//.yellow {
//  background-color: red;
//}
//
//.green {
//  background-color: red;
//}
//
//.purple {
//  background-color: red;
//}
//
//.red {
//  background-color: red;
//}


canvas {
  display: none;
  /* height and width cannot be styled here!
     see http://stackoverflow.com/q/6757861/3449673
  */
  border-left-style: solid;
  border-right-style: solid;
  border-left-color: white;
  border-right-color: : white;
  border-radius: 2px;
}

a, a:visited {
  text-decoration: none;
  color: white;
}

#menu {
  width: 100%;
  height: 100%;
  font-size: 500%;
}

.title {
  font-size: 200%;
}

#menu ul {
  list-style-type: none;
  padding: 50px;
}

#footer {
  position: fixed;
  width: 100%;
  font-size: 40%;
  bottom: 0px;
}

.clickable {
  cursor: pointer;
  padding: 10px;
}

.clickable:hover {
  color: yellow;
}

#help {
  display: none;
  font-size: 300%;
}
